BETTER_AUTH_SECRET="some-really-secret-secretSECRETSECRETSECRET"
BETTER_AUTH_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3001

# Microsoft Entra single-tenant app registration
AZURE_CLIENT_ID="76cbbfce-3fea-4bed-bc5d-78de96a8f110"
AZURE_CLIENT_SECRET=""
AZURE_TENANT_ID="a91c29f5-9519-4baf-b4f5-ffd5c0d6ef72"

ADMIN_EMAILS="liam.doyle@theshoregroup.co.uk"

DATABASE_URL="postgresql://postgres:password@127.0.0.1:54331/postgres"

RESEND_API_KEY=re_

TRIGGER_PROJECT_ID="proj_wlnerjajkqvtnmwkoxmv"
TRIGGER_SECRET_KEY=
